/* -- scroll bar -- */
/* width */
::-webkit-scrollbar {
  width: 8px;
  height: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0);  
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #b7b7b7;
  border-radius: 15px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #888888; 
}

.t-center{
  text-align: center;
}

.t-right{
  text-align: right;
}

.item-center {
  justify-content: center;
  align-items: center;
  text-align: center;
  &.margin-auto {
    margin: 50px auto;
  }
}
